@font-face {
    font-family: 'Roboto';
    src: url('.fonts/Roboto-Black.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('.fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('.fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
    --color-black: #1B1B1B;
    --color-dark: #262626;
    --color-medium-grey: #C2C2C4;
    --color-light-grey: #EFF0F0;
    --color-light: #ffffff;
    --color-red: #CA0100;

    --border-radius-light: 6px;
    --border-radius: 25px;

    --font-family-base: 'Roboto', sans-serif;

    --input-height: 65px;

    --container-width: 1400px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s; 
}   

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
    font-family: var(--font-family-base);
    background-color: var(--color-light);
    color: var(--color-dark);
    font-size: 13px;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 32px;
    padding-top: 15px;
}

.header-menu-list {
    display: flex;
    column-gap:20px;
}

a {
    color: var(--color-dark);
}

.header-menu-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    background-color: red;
    display: inline-flex;
    height: 50px;
    align-items: center;
    white-space: nowrap;
    }

.header-logo {
  flex-shrink: 1;
}

.header-burger-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 5px;
  border-color: #C2C2C4;
}

.header-burger-button:hover {
  color: var(--color-medium-grey);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
}

.mobile-contacts {
  display: flex;
  flex-direction: column; /* Элементы идут друг под другом */
  gap: 5px; /* Отступ между номерами */
  background-color: red;
}

.mobile-contact-item {
  display: flex;
  align-items: center; /* Вертикальное выравнивание иконок и текста */
  gap: 7px; /* Отступ между иконкой и текстом */
  background-color: purple;
  justify-content: end;
}


.mobile-icon {
  width: 30px; /* Размер иконки */
  height: 30px;
  flex-shrink: 0; /* Запрещаем сжиматься */
  background-color: yellow;
}

.mobile-text-main {
  font-size: 15px;
  font-weight: 700;
  color: var(--color-dark);
  background-color: green;
  white-space: nowrap;
}

.mobile-text-second {
  font-size: 11px;
  font-weight: 500;
  color: var(--color-medium-grey);
  background-color: greenyellow;
  text-align: right;
}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  min-width: 360px;
  background-color: #eff0f0;
  border-radius: var(--border-radius);
  margin: 10px 25px 10px 25px;

  background-image: url(./images/banner_bg.jpg);
  background-repeat: no-repeat;
  background-size: 1222px 598px;
  background-position: right center;
  overflow: hidden;
  background-blend-mode: multiply;

}

.banner-body {
  padding: 0;
  background-color: aqua;
  font-size: 60px;
  font-size: clamp(30px, 8vw, 60px);
  font-weight: 700;
  max-height: 140px;
  margin: clamp(10px, 5vw, 35px) 
           clamp(15px, 10vw, 235px)
           clamp(100px, 20vw, 315px);
  z-index: 5;
}

.banner-pagination {
  position: absolute;
  bottom: 20px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-pagination-list {
  display: flex;
}

.banner-pagination-item {
  margin-inline: 7px;
}

.bubble {
  background-color: var(--color-red);
  width: 208px;
  height: 29px;
  align-content: center;
  text-align: center;
  color: #ffffff;
  border-radius: 33px;
  /*margin: 81px 0px 0px 235px;*/
  font-weight: 700;
  font-size: 16px;
  margin: 
    clamp(20px, 5vw, 81px)    /* верх: от 20px до 81px */
    0                             /* право: всегда 0 */
    0                           /* низ: всегда 0 */
    clamp(110px, 10vw, 235px);
}

.banner-img {
  position: absolute;
  pointer-events: none; /* отключаем взаимодействие, чтобы не мешали тексту */
  transition: margin 0.5s ease, transform 0.5s ease;
}

.img-1 {
  height: 328px;
  width: 785px;
  margin-top:250px; /* вместо margin-top: 173px; */
  margin-left: clamp(20%, 17vw, 750px); /* вместо margin-left: 750px; */
  z-index: 4;
  object-fit: contain;
}

.img-2 {
  height: 281px;
  width: 507px;
  margin-top: 245px; /* вместо margin-top: 184px; */
  margin-left: clamp(50%, 17vw, 1190px); /* вместо margin-left: 1190px; */
  z-index: 3;
  object-fit: contain;
}

.img-3 {
  height: 242px;
  width: 403px;
  margin-top: 220px; /* вместо margin-top: 167px; */
  margin-left: clamp(65%, 17vw, 1384px); /* вместо margin-left: 1384px; */
  z-index: 2;
  object-fit: contain;
}

.auto-cards{
  /* max-height: 1115px; */
  max-width: 1398px;
  background-color: aquamarine;
  margin: 64px 13.38vw 10px 13.38vw;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;

  font-size: clamp(30px, 8vw, 40px);
}

.cars-grid-container{
  background-color: #CA0100;
  display: grid;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  margin: 50px;
  align-items: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto); 
}

.car-container{
  min-height: 416px;
  min-width: 290px;
  background-color: grey;
}


@media (max-width: 800px) {
  .header {
    flex-wrap: wrap;
    row-gap: 7px;
    padding-inline: 15px;
    align-items: center;  
    padding-top: 7px;
    min-width: 320px;
  }

  .header-menu {
    order: 1;
    flex-basis: 100%;
  }

  .header-menu-link{
    height: 25px;
  }

  .header-menu-list{
    column-gap: 10px;
    margin-block: center;
    justify-content: center;
    width: 100%;
  }

  .header-logo{
    width: 127px;
  }

  .header-burger-button{
    height: 30px;
    width: 30px;
    padding-inline: 20%;
  }

  .mobile-icon{
    height: 15px;
  }

  .mobile-text-main{
    font-size: 12px;
  }
  
  .mobile-text-second{
    font-size: 9px;
  }

  .banner{
    min-height: 600px;
    min-width: 360px;
    margin: 10px 15px 10px 15px;
    background-size: auto 598px;
  }

  .banner-body{
    margin: 13px 20px 195px;
  }

  .bubble{
    width: 154px;
    height: 22px;
    border-radius: 33px;
    margin: 28px 116px 13px 20px;
    font-weight: 700;
    font-size: 12px;
  }

  .img-1{
    height: 104px;
    width: 212px;
    margin-top: 357px;
    margin-left: 60px;
    margin-bottom: 30px;
    scale: 1.5;
  }
  .img-2{
    height: 77px;
    width: 137px;
    margin-top: 357px;
    margin-left: 230px;
    margin-bottom: 30px;
    scale: 1.7;
  }
  .img-3{
    height: 65px;
    width: 110px;
    margin-top: 357px;
    margin-left: 320px;
    margin-bottom: 30px;
    scale: 1.9;
  }
}